.Container{
    display: flex;
    flex-direction:row;
    max-width:800px;
    height:auto;
    margin: 0 auto;
}
#seccion-1-basquet{
    height:175vh;
    background-color: #042500;
}
#pagination-basquet{
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:46vh;
    width:100%;
}
#pagination-basquet ul li a{
    font-size:.9rem;
}
/* basquet u23*/
#principal-basquet-fixure {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:180vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#playOff-basquet-fixture {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:70vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#principal-basquet-posiciones{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:220vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#playOff-basquet-posiciones{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:120vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#principal-basquet-posiciones span{
    color: #fff;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#principal-basquet-fixure span{
    color: #fff;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#playOff-basquet-posiciones span{
    color: #fff;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#playOff-basquet-fixture span{
    color: #fff;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


/* u19*/
#principal-basquet-fixure-u19{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:160vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#principal-basquet-posiciones-u19{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:200vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
/*conferencia1*/
#conferencia1-basquet-fixture{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:60vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#conferencia1-basquet-posiciones{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:95vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#conferencia1-basquet-fixture span{
    color: #fff;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#conferencia1-basquet-posiciones span{
    color: #fff;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#principal-basquet-posiciones-u19 span {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#principal-basquet-fixure-u19 span {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


/*u17*/
#principal-basquet-fixure-u17{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:150vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#principal-basquet-posiciones-u17{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:200vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: var(--bs-table-striped-bg);
    color: #ffffff;
}
/*Conferencia 3*/
#conferencia3-basquet-posiciones-u17{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:95vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#conferencia3-basquet-fixture-u17{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:60vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#principal-basquet-posiciones-u17 span {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#principal-basquet-fixure-u17 span {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#conferencia3-basquet-posiciones-u17 span {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#conferencia3-basquet-fixture-u17 span{
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* u15*/
#principal-basquet-fixure-u15{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position:absolute;
    top:220vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#principal-basquet-posiciones-u15{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position:absolute;
    top:170vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
/*Conferencia 15*/
#conferencia1-basquet-posiciones-u15{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position:absolute;
    top:110vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#conferencia1-basquet-fixture-u15{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position:absolute;
    top:70vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#principal-basquet-posiciones-u15 span {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#principal-basquet-fixure-u15 span {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#conferencia1-basquet-posiciones-u15 span {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#conferencia1-basquet-fixture-u15 span{
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* u13*/
#principal-basquet-fixure-u13{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position:absolute;
    top:220vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#principal-basquet-posiciones-u13{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position:absolute;
    top:170vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
/*Conferencia 1*/
#conferencia1-basquet-posiciones-u13{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position:absolute;
    top:110vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#conferencia1-basquet-fixture-u13{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position:absolute;
    top:70vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#principal-basquet-posiciones-u13 span {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#principal-basquet-fixure-u13 span {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#conferencia1-basquet-posiciones-u13 span {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#conferencia1-basquet-fixture-u13 span{
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/*u12*/
#principal-basquet-fixure-u12{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position:absolute;
    top:220vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#principal-basquet-posiciones-u12{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position:absolute;
    top:170vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
/*Conferencia 1*/
#conferencia1-basquet-posiciones-u12{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position:absolute;
    top:110vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#conferencia1-basquet-fixture-u12{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position:absolute;
    top:70vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#principal-basquet-posiciones-u12 span {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#principal-basquet-fixure-u12 span {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#conferencia1-basquet-posiciones-u12 span {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#conferencia1-basquet-fixture-u12 span{
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
/*u+41*/
#principal-basquet-fixure-u41{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position:absolute;
    top:70vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#principal-basquet-posiciones-u41{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position:absolute;
    top:120vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#fixture-table-basquet, #fixture-table-basquet-conferencia1, #fixture-table-basquet td, #fixture-table-basquet-conferencia1 td,#fixture-table-basquet-playOff,#fixture-table-basquet-playOff td, #conferencia3-fixture-table-basquet-u17,#conferencia3-fixture-table-basquet-u17 td,#fixture-table-basquet-u17 tr,#fixture-table-basquet-u41 td,#fixture-table-basquet-u41 tr,#fixture-table-basquet-u41   {
    border:3px solid black;
    padding:6px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size:0.9rem;
}
#tabla-posiciones-basquet,#tabla-posiciones-basquet-conferencia1,#tabla-posiciones-basquet-playOff{
    font-size:1rem;
    text-align: center;
    color: rgb(255, 255, 255);
}
#img-basquet-u23m{
    width:32px;
    height:32px;
    border-radius:50%;
}
