#subir-primera {
    position:fixed;
    right:2vw;
    padding:5px 10px;
    width:auto;
    top:90vh;
    cursor:pointer;
    text-overflow:ellipsis;
    box-shadow:0 5px 20px 10px rgba(98, 255, 0, 0.2);
    border-radius:10px;
    background-color:#000000;
}
#subir-primera a {
    text-decoration: none;
    color:white;
}
.span-responsive-futbol{
    display: none;
}
/* PRIMERA*/
.green {
    background-color: green;
}
.red {
    background-color: red;
}
#seccion-1-futbol-primera{
    height:200vh;
    background-color: #042500;
}
.Container{
    display: flex;
    flex-direction:row;
    max-width:800px;
    height:auto;
    margin: 0 auto;
}
#campeones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:relative;
    width: 100%;
    top:48vh;
    background: #125e2a;
    color:#fff;
    text-align:center;
    font-size:1rem;
    padding:5px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    transform: translateY(-100%);
    animation: aparecerDesdeArriba 3s forwards;
    -webkit-animation: aparecerDesdeArriba 3s forwards;
}
@keyframes aparecerDesdeArriba {
    0% {
        transform: translateY(-600%);
        -webkit-transform: translateY(-600%);
        -moz-transform: translateY(-600%);
        -ms-transform: translateY(-600%);
        -o-transform: translateY(-600%);
    }
    100% {
        transform: translateY(0); /* Aparecer en su posición final */
    }
}
#col1 {
    width:100%;
    max-width:400px;
    margin:0 auto;
    float:left;
}
.titulo-campeon{
    color:#9af72e;
    font-weight:700;
    font-style:italic;
    font-size:1.1rem;
}
#col1 a img {
    width: 30px; 
    margin-right: 10px; 
}
#col1 a:hover {
    font-size: 2rem;
    color: #9af72e;
}
#pagination-primera{
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:46vh;
    width:100%;
}
#pagination-primera ul li a{
    font-size:.9rem;
}
#principal-primera-posiciones{
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:166vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#tabla-posiciones-primera{
    font-size:1rem;
    text-align: center;
    color: rgb(255, 255, 255);
}
#principal-primera-fixure{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:110vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#final-reducido-primera-fixture{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:70vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#fixture-table-primera,#fixture-table-primera td,#fixture-final-reducido-primera, #fixture-final-reducido-primera td {
    border:3px solid black;
    padding:6px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size:0.9rem;
}
#final-reducido-primera-fixture,#principal-primera-posiciones,#principal-primera-fixure span,#principal-reserva-posiciones span {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left:5px;
}
#seccion-2-futbol-primera{
    height:170vh;
    background-color: #042500;
}
.container-primera{
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows:auto auto;
    column-gap:90px;
    row-gap:90px;
    margin: 0 auto;
    width:90%;
    height:auto;
}
#card-primera {
    position:relative;
    top:60vh;
    width:100%;
    height:46vh;
    margin: 0 auto;
}
#card-primera div {
    position: absolute;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1s;
}
#card-primera div h1 {
    color: #ffffff;
    cursor: pointer;
    font-size:1.2rem;
    justify-content: center;
    text-align: center;
}
#card-primera .front-primera {
    background: rgb(16, 139, 10);
    transform: perspective(500px) rotateY(0deg);
}
#card-primera .back-primera {
    background: rgb(16, 139, 10);
    transform: perspective(500px) rotateY(180deg);
}
#card-primera:hover .front-primera {
    transform: perspective(500px) rotateY(180deg);
}
#card-primera:hover .back-primera {
    transform: perspective(500px) rotateY(360deg);
}
#card-primera div p {
    font-size:1rem;
    color: rgb(255, 254, 254);
    left:0px;
}
/*RESERVA*/

#seccion-1-futbol-reserva{
    height:200vh;
    background-color: #042500;
}
#pagination-reserva{
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:46vh;
    width:100%;
}
#pagination-reserva ul li a{
    font-size:.9rem;
}
#principal-reserva-posiciones{
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:160vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#tabla-posiciones-reserva{
    font-size:1rem;
    text-align: center;
    color: rgb(255, 255, 255);
}
#fixture-table-reserva,#fixture-table-primera-fase-final,#fixture-table-primera-fase-final td, #fixture-table-resrva td {
    border:3px solid black;
    padding:6px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size:0.9rem;
}
#principal-reserva-fixure{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:70vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#principal-primera-fixure-fase-final{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:62vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#principal-reserva-fixure{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:95vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#fixture-table-reserva,#fixture-table-reserva td,#fixture-table-reserva-fase-final td {
    border:3px solid black;
    padding:6px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size:0.9rem;
}
#principal-reserva-fixure-fase-final{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:65vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#fixture-table-reserva-fase-final{
    border:3px solid black;
    padding:6px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size:0.9rem;
}
#principal-reserva-posiciones{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:150vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#tabla-posiciones-reserva{
    font-size:1rem;
    text-align: center;
    color: rgb(255, 255, 255);
}

/*JUVENILES*/

#seccion-1-futbol-juvenil{
    height:260vh;
    background-color: #042500;
}
#pagination-juveniles{
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:40vh;
    width:100%;
}
#pagination-categorias-juveniles{
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:47vh;
    width:100%;
}
#pagination-juveniles ul li a{
    font-size:1rem;
}
#principal-juveniles-posiciones{
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:160vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#tabla-posiciones-juveniles{
    font-size:1rem;
    text-align: center;
    color: rgb(255, 255, 255);
}
#principal-juveniles-fixture{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:70vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#fixture-table-juveniles,#fixture-table-juveniles td {
    border:3px solid black;
    padding:6px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size:0.9rem;
}

/*INFANTIL*/
#seccion-1-futbol-infantil{
    height:211vh;
    background-color: #042500;
}
#principal-infantil-posiciones{
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:150vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#tabla-posiciones-infantil {
    font-size:1rem;
    text-align: center;
    color: rgb(255, 255, 255);
}
#principal-infantil-fixture{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:70vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#fixture-table-infantil,#fixture-table-infantil td {
    border:3px solid black;
    padding:6px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size:0.9rem;
}

#subir-infantil {
    position:absolute;
    right:2vw;
    padding:5px 10px;
    width:auto;
    top:216vh;
    cursor:pointer;
    text-overflow:ellipsis;
    box-shadow:0 5px 20px 10px rgba(98, 255, 0, 0.2);
    border-radius:10px;
    background-color:#000000;
}
#subir-infantil a {
    text-decoration: none;
    color:white;
}

/*Femenino*/
#principal-primera-posiciones-femenino{
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:230vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#tabla-posiciones-femenino,#tabla-posiciones-femenino-fase-permanencia{
    font-size:1rem;
    text-align: center;
    color: rgb(255, 255, 255);
}
#principal-primera-fixure-femenino{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:170vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#fixture-table-primera-femenino,#fixture-table-primera-femenino td {
    border:3px solid black;
    padding:6px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size:0.9rem;
}
#fixture-table-femenino-permanencia,#fixture-table-femenino-permanencia td {
    border:3px solid black;
    padding:6px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size:0.9rem;
}
#principal-primera-posiciones-femenino span {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#principal-primera-fixure-femenino span {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#fase-permanencia-primera-posiciones-femenino span {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#fase-permanencia-primera-fixure-femenino span {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#seccion-2-futbol-primera-femenino{
    height:300vh;
    background-color: #042500;
}
.container-primera-femenino{
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows:auto auto;
    column-gap:90px;
    row-gap:90px;
    margin: 0 auto;
    width:90%;
    height:auto;
}
#card-primera-femenino {
    position:relative;
    top:120vh;
    width:100%;
    height:46vh;
    margin: 0 auto;
}
#card-primera-femenino div {
    position: absolute;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1s;
}
#card-primera-femenino div h1 {
    color: #ffffff;
    cursor: pointer;
    font-size:1.2rem;
    justify-content: center;
    text-align: center;
}
#card-primera-femenino .front-primera-femenino {
    background: rgb(16, 139, 10);
    transform: perspective(500px) rotateY(0deg);
}
#card-primera-femenino .back-primera-femenino {
    background: rgb(16, 139, 10);
    transform: perspective(500px) rotateY(180deg);
}
#card-primera-femenino:hover .front-primera-femenino {
    transform: perspective(500px) rotateY(180deg);
}
#card-primera-femenino:hover .back-primera-femenino {
    transform: perspective(500px) rotateY(360deg);
}
#card-primera-femenino div p {
    font-size:1.2rem;
    color: rgb(255, 254, 254);
    left:0px;
}
/*Fase permanencia*/
#fase-permanencia-primera-posiciones-femenino{
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:110vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#fase-permanencia-primera-fixure-femenino{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:70vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#subir-primera-femenino {
    position:fixed;
    right:2vw;
    padding:5px 10px;
    width:auto;
    top:90vh;
    cursor:pointer;
    text-overflow:ellipsis;
    box-shadow:0 5px 20px 10px rgba(98, 255, 0, 0.2);
    border-radius:10px;
    background-color:#000000;
}
#subir-primera-femenino a {
    text-decoration: none;
    color:white;
}