/*PRIMERA*/
#seccion-1-futbol-primera{
    height:200vh;
    background-color: #042500;
}
#pagination-primera{
    display:flex;
    flex:row;
    float:left;
    position:absolute;
    top:37.5vh;
    right:42vw;
}
#pagination-primera ul li a{
    font-size:1rem;

}
.container-principal-primera-posiciones{
    background-color: yellow;
    width: auto;
    height: auto;
}
#principal-primera-fixure{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position:absolute;
    top:50%;
    left:50%;
    transform: translatex(-50%);
    width:700px;
    padding-top:40px;
    padding-bottom:40px;
    min-height:500px;
}
#principal-primera-posiciones{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position:absolute;
    top:115%;
    left:50%;
    transform: translatex(-50%);
    width:700px;
    padding-top:40px;
    padding-bottom:40px;
    min-height:500px;
}
#fixture-table-primera, #fixture-table-primera td {
    border:3px solid black;
    padding:6px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size:0.9rem;
}
#tabla-posiciones-primera, #tabla-posiciones-infantil {
    font-size:1rem;
    text-align: center;
    color: rgb(255, 255, 255);
}
#seccion-2-futbol-primera{
    height:100vh;
    background-color: #042500;
}
.container-primera{
    display:grid;
    grid-template-columns:auto auto auto;
    grid-template-rows:auto auto auto;
    row-gap:10px;
    width:100%;
    height:100vh;
}
#card-primera {
    position:relative;
    top:0vh;
    width:70%;
    height:46vh;
    padding-left:5vw;
    margin-top:20px;
    margin-bottom:9px;
}
#card-primera div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1s;
}
#card-primera div h1 {
    color: #ffffff;
    cursor: pointer;
    font-size:1.2rem;
    justify-content: center;
    text-align: center;
}
#card-primera .front-primera {
    background: rgb(16, 139, 10);
    transform: perspective(500px) rotateY(0deg);
}
#card-primera .back-primera {
    background: rgb(16, 139, 10);
    transform: perspective(500px) rotateY(180deg);
}
#card-primera:hover .front-primera {
    transform: perspective(500px) rotateY(180deg);
}
#card-primera:hover .back-primera {
    transform: perspective(500px) rotateY(360deg);
}
#card-primera div p {
    font-size:1.2rem;
    color: rgb(255, 254, 254);
    left:0px;
}
#subir-primera {
    position:absolute;
    right:2vw;
    padding:5px 10px;
    width:auto;
    top:290vh;
    cursor:pointer;
    text-overflow:ellipsis;
    box-shadow:0 5px 20px 10px rgba(98, 255, 0, 0.2);
    border-radius:10px;
    background-color:#000000;
}
#subir-primera a {
    text-decoration: none;
    color:white;
}
.dropdown-propio-futbol {
    position: relative;
    display: inline-block;
    float: right;
}
.dropdown-menu {
    position: absolute;
    top:100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width:8rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.span-responsive-futbol{
    display: none;
}
.dropdown-menu-dark {
    background-color: #343a40;
    color: rgba(255,255,255,.9);
}
.dropdown-menu-lg-end {
    right: 0;
    left: auto;
}
.dropdown-menu-lg-start {
    right: auto;
    left: 0;
}
.dropdown-menu-sm-end {
    right: 0;
    left: auto;
}
.dropdown-menu.show {
    display: block;
}
/*INFANTIL*/
#seccion-1-futbol-infantil{
    height:211vh;
    background-color: #042500;
}
#principal-infantil-posiciones{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position:absolute;
    top:120vh;
    left:50%;
    transform: translatex(-50%);
    width:700px;
    padding-top:40px;
    padding-bottom:40px;
    min-height:500px;
}
#subir-infantil {
    position:absolute;
    right:2vw;
    padding:5px 10px;
    width:auto;
    top:216vh;
    cursor:pointer;
    text-overflow:ellipsis;
    box-shadow:0 5px 20px 10px rgba(98, 255, 0, 0.2);
    border-radius:10px;
    background-color:#000000;
}
#subir-infantil a {
    text-decoration: none;
    color:white;
}
/*juveniles*/
#seccion-1-futbol-juvenil{
    height:222vh;
    background-color: #042500;
}
#pagination-juveniles{
    display:flex;
    flex:row;
    float:left;
    position:absolute;
    top:43vh;
    right:42vw;
}
#pagination-juveniles ul li a{
    font-size:1rem;

}
/*basquet*/
#img-basquet-u23m{
    width:32px;
    height:32px;
    border-radius:50%;
}