body{
    margin: 0;
    padding: 0;
    /*background: linear-gradient(to bottom, #042500, #327a01);*/
    background-image: url(../img/img-2.jpg);
    overflow-x: hidden;
    overflow-y:hidden;
}
#seccion-1-historia{
    height:340vh;
    background-color: #042500;
}
.historia-container{
    width: 100%;
}
.historia{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    flex-flow: wrap;
    justify-content:center;
    align-items:center;
    position:relative;
    color:rgb(255, 255, 255);
    max-width:800px;
    top:30vh;
    line-height:70px;
    font-weight: bold;
    margin: 0 auto;
}
.titulo-historia {
    text-align: center;
}
.titulo-historia:first-letter{
    color: green;
    font-size:3rem;
}
.texto-historia:first-letter{
    color: green;
    font-size:3rem;
}
.index-historia {
    position: fixed;
    right: 2vw;
    bottom: 5vh; /* Ajusta la posición vertical del botón según tu preferencia */
    padding: 3px 5px;
    width: auto;
    cursor: pointer;
    text-overflow: ellipsis;
    box-shadow: 0 2.5px 10px 5px rgba(98, 255, 0, 0.2);
    border-radius: 5px;
    background-color: #000000;
}
.index-historia a {
    color: white; /* Agrega estilos para el enlace si es necesario */
    text-decoration: none;
}