@media screen and (max-width:1250px) {
    #seccion-1-futbol-primera{
        height:200vh;
    }
    #seccion-2-futbol-primera{
        height:100vh;
        background-color: #042500;
    }
    .container-primera{
        display:grid;
        grid-template-columns:auto auto;
        grid-template-rows:auto auto;
        row-gap:10px;
        width:100%;
        height:50vh;
    }
    #card-primera {
        position:relative;
        top:0vh;
        width:80%;
        height:30vh;
        padding-left:5vw;
        margin-top:10px;
        margin-bottom:9px;
    }
    #card-primera div {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        backface-visibility: hidden;
        transition: 1s;
    }
    #card-primera div h1 {
        color: #ffffff;
        cursor: pointer;
        font-size:1.2rem;
        justify-content: center;
        text-align: center;
    }
    #card-primera .front-primera {
        background: rgb(16, 139, 10);
        transform: perspective(500px) rotateY(0deg);
    }
    #card-primera .back-primera {
        background: rgb(16, 139, 10);
        transform: perspective(500px) rotateY(180deg);
    }
    #card-primera:hover .front-primera {
        transform: perspective(500px) rotateY(180deg);
    }
    #card-primera:hover .back-primera {
        transform: perspective(500px) rotateY(360deg);
    }
    #card-primera div p {
        font-size:1rem;
        color: rgb(255, 254, 254);
        left:0px;
    }
}
@media screen and (max-width:700px) {
    #seccion-1-futbol-primera{
        height:190vh;
    }
    #pagination-primera{
        top:57vh;
        left:40%;
        transform:translatex(-40%);
    }
    #pagination-primera ul li a{
        font-size:0.7rem;
    }
    #campeones {
        display: flex;
        flex-direction: column;
        top:35vh;
        background: #125e2a;
        color:#fff;
        text-align:center;
        font-size: .9rem;
    }
    #principal-primera-fixure,#principal-reserva-fixure{
        top:60vh;
        left:60%;
        transform: translatex(-60%);
        width:450px;
        padding-top:20px;
        padding-bottom:20px;
        min-height:500px;
    }
    #principal-reserva-fixure{
        top:100vh;
        left:60%;
        transform: translatex(-60%);
        width:450px;
        padding-top:20px;
        padding-bottom:20px;
        min-height:500px;
    }
    #principal-reserva-fixure-fase-final{
        top:60vh;
        left:60%;
        transform: translatex(-60%);
        width:450px;
        padding-top:20px;
        padding-bottom:20px;
        min-height:500px;
    }
    #principal-reserva-posiciones{
        top:160vh;
        left:60%;
        transform: translatex(-60%);
        width:450px;
        padding-top:20px;
        padding-bottom:20px;
        min-height:500px;
    }
    #tabla-posiciones-reserva {
        font-size:0.7rem;
    }
    #principal-primera-posiciones,#principal-infantil-posiciones{
        top:113%;
        left:60%;
        transform: translatex(-60%);
        width:450px;
        padding-top:20px;
        padding-bottom:20px;
        min-height:500px;
    }
    #fixture-table-primera, #fixture-table-primera td,#fixture-table-reserva,#fixture-table-reserva td {
        border:2px solid black;
        padding:3px;
        font-size:0.7rem;
    }
    #tabla-posiciones-primera,#principal-infantil-posiciones,#tabla-posiciones-reserva {
        font-size:0.7rem;
    }
    #seccion-2-futbol-primera{
        height:120vh;
        background-color: #042500;
    }
    .container-primera{
        display: grid;
        grid-template-columns:auto auto;
        grid-template-rows: auto auto;
        row-gap:10px;
        column-gap:10px;
        width:100%;
        height:10vw;
    }
    #card-primera {
        position:relative;
        top:0vh;
        width:100%;
        height:36vh;
        padding-left:0px;
        margin-top:0px;
        margin-bottom:0px;
    }
    #card-primera div h1 {
        color: #ffffff;
        cursor: pointer;
        font-size:1rem;
        justify-content: center;
        text-align: center;
    }
    #card-primera .front-primera {
        background: rgb(16, 139, 10);
        transform: perspective(500px) rotateY(0deg);
    }
    #card-primera .back-primera {
        background: rgb(16, 139, 10);
        transform: perspective(500px) rotateY(180deg);
    }
    #card-primera:hover .front-primera {
        transform: perspective(500px) rotateY(180deg);
    }
    #card-primera:hover .back-primera {
        transform: perspective(500px) rotateY(360deg);
    }
    #card-primera div p {
        font-size:0.9rem;
        color: rgb(255, 254, 254);
        left:0px;
    }
    .dropdown-propio {
        position: relative;
        float: left;
    }
    .dropdown-menu {
        padding:.3rem 0;
        margin:.105rem 0 0;
    }
    .span-futbol{
        display:none;
    }
    .span-responsive-futbol{
        display:block;
    }
    #pagination-juveniles ul li a{
        font-size:0.8rem;
    }
}
@media screen and (max-width:580px) {
    .dropdown-propio {
        position: relative;
        float:right;
        margin-top:40px;
    }
    #pagination-primera{
        top:62vh;
        left:40%;
        transform:translatex(-40%);
        -webkit-transform:translatex(-40%);
        -moz-transform:translatex(-40%);
        -ms-transform:translatex(-40%);
        -o-transform:translatex(-40%);
    }
    #campeones {
        top:37vh;
    }
    #pagination-juveniles ul li a{
        font-size:0.8rem;
    }
    #principal-primera-posiciones{
        top:140vh;
    }
}
@media screen and (max-width:450px) {
    #campeones {
        top:32vh;
    }
    #seccion-1-futbol-primera{
        height:220vh;
        background-color: #042500;
    }
    #seccion-1-futbol-juvenil{
        height:225vh;
        background-color: #042500;
    }
    #pagination-primera{
        top:57vh;
        left:80px;
    }
    #pagination-juveniles{
        top:61vh;
        left:2px;
    }
    #pagination-primera ul li a{
        font-size:0.5rem;
    }
    #pagination-juveniles ul li a{
        font-size:0.5rem;
    }
    #principal-primera-fixure,#principal-reserva-fixure{
        top:64vh;
        left:72%;
        transform: translatex(-70%);
        width:300px;
        padding-top:10px;
        padding-bottom:10px;
        min-height:200px;
    }
    #principal-reserva-fixure-fase-final{
        top:65vh;
        left:72%;
        transform: translatex(-70%);
        width:100%;
        padding-top:10px;
        padding-bottom:10px;
        min-height:200px;
    }
    #principal-reserva-fixure{
        top:100vh;
        left:72%;
        transform: translatex(-70%);
        width:100%;
        padding-top:10px;
        padding-bottom:10px;
        min-height:200px;
    }
    #principal-primera-posiciones,#principal-infantil-posiciones,#principal-reserva-posiciones{
        top:120vh;
        left:70%;
        transform: translatex(-70%);
        width:300px;
        padding-top:20px;
        padding-bottom:20px;
        min-height:500px;
    }
    #principal-reserva-posiciones{
        top:180vh;
        left:70%;
        transform: translatex(-70%);
        width:300px;
        padding-top:20px;
        padding-bottom:20px;
        min-height:500px;
    }
    #principal-infantil-posiciones{
        top:120vh;
    }
    #fixture-table-primera, #fixture-table-primera td,#fixture-table-reserva,#fixture-table-reserva td,#principal-reserva-fixure-fase-final td {
        border:2px solid black;
        padding:3px;
        font-size:0.6rem;
    }
    #tabla-posiciones-primera,#principal-infantil-posiciones,#tabla-posiciones-reserva {
        font-size:0.7rem;
    }
    #seccion-2-futbol-primera{
        height: auto;
        background-color: #042500;
    }
    .container-primera{
        display: grid;
        grid-template-columns:auto;
        grid-template-rows: auto;
        row-gap:10px;
        width:100%;
        height:max-content;
    }
    #card-primera {
        position:relative;
        top:0vh;
        width:100%;
        height:64vw;
        padding-left:0px;
        margin-top:0px;
        margin-bottom:0px;
    }
    #card-primera div h1 {
        color: #ffffff;
        cursor: pointer;
        font-size:1rem;
        justify-content: center;
        text-align: center;
    }
    #card-primera .front-primera {
        background: rgb(16, 139, 10);
        transform: perspective(500px) rotateY(0deg);
    }
    #card-primera .back-primera {
        background: rgb(16, 139, 10);
        transform: perspective(500px) rotateY(180deg);
    }
    #card-primera:hover .front-primera {
        transform: perspective(500px) rotateY(180deg);
    }
    #card-primera:hover .back-primera {
        transform: perspective(500px) rotateY(360deg);
    }
    #card-primera div p {
        font-size:0.9rem;
        color: rgb(255, 254, 254);
        left:0px;
    }
    #subir-primera {
        position:fixed;
        right:2vw;
        padding:0;
        width:auto;
        top:90vh;
        cursor:pointer;
        text-overflow:ellipsis;
        box-shadow:0 0px 0px 0px rgba(98, 255, 0, 0.2);
        border-radius:5px;
        background-color:#000000;
    }
    #subir-primera a {
        text-decoration: none;
        color:white;
    }
}
@media screen and (max-width:300px) {
    #campeones {
        display: none;
    }
    #seccion-1-futbol-primera{
        height:230vh;
        background-color: #042500;
    }
    #seccion-1-futbol-juvenil {
        height:240vh;
        background-color: #042500;
    }
    #seccion-1-futbol-infantil{
        height:230vh;
        background-color: #042500;
    }
    #pagination-primera{
        top:63%;
        left:17%;
        transform:translatex(-30%);
    }
    #pagination-primera ul li a{
        font-size:0.5rem;
    }
    #pagination-juveniles{
        top:65%;
        left:17%;
        transform:translatex(-30%);
    }
    #pagination-juveniles ul li a{
        font-size:0.5rem;
    }
    .page-item:first-child .page-link {
        font-size:.4rem;
    }
    .page-item:not(:first-child) .page-link {
        font-size:0.4rem;
    }
    #principal-primera-fixure{
        top:78%;
        left:30%;
        transform: translatex(-33%);
        width:100%;
        padding-top:0px;
        padding-bottom:0px;
        min-height:200px;
    }
    #principal-reserva-fixure-fase-final{
        top:70vh;
        left:33vw;
        transform: translatex(-33%);
        width:100%;
        padding-top:0px;
        padding-bottom:0px;
        min-height:200px;
    }
    #principal-reserva-fixure{
        top:120vh;
        left:33vw;
        transform: translatex(-33%);
        width:100%;
        padding-top:0px;
        padding-bottom:0px;
        min-height:200px;
    }
    #principal-primera-posiciones,#principal-infantil-posiciones{
        top:130%;
        left:50%;
        transform: translatex(-50%);
        width:100%;
        padding-top:0px;
        padding-bottom:0px;
        min-height:500px;
    }
    #principal-reserva-posiciones{
        top:150vh;
        left:50%;
        transform: translatex(-50%);
        width:100%;
        padding-top:0px;
        padding-bottom:0px;
        min-height:500px;
    }
    #fixture-table-primera, #fixture-table-primera td,#fixture-table-reserva,#fixture-table-reserva td,#fixture-table-reserva-fase-final td,#fixture-table-reserva-fase-final tr {
        border:1px solid black;
        padding:0px;
        font-size:0.5rem;
    }
    #fixture-table-primera,#fixture-table-reserva th:first-child,
    #fixture-table-primera,#fixture-table-reserva td:first-child,
    #fixture-table-primera,#fixture-table-reserva tr:first-child td {
        display: none;
    }  
    #tabla-posiciones-primera,#tabla-posiciones-infantil,#tabla-posiciones-reserva {
        font-size:0.6rem;
    }
    #seccion-2-futbol-primera{
        height:auto;
        overflow:scroll;
        background-color: #042500;
    }
    .container-primera{
        display: grid;
        grid-template-columns:auto;
        grid-template-rows: auto;
        row-gap:10px;
        width:100%;
        height:100vw;
    }
    #card-primera {
        position:relative;
        top:0vh;
        width:100%;
        height:140vw;
        padding-left:0px;
        margin-top:0px;
        margin-bottom:0px;
    }
    #card-primera div h1 {
        color: #ffffff;
        cursor: pointer;
        font-size:1rem;
        justify-content: center;
        text-align: center;
    }
    #card-primera .front-primera {
        background: rgb(16, 139, 10);
        transform: perspective(500px) rotateY(0deg);
    }
    #card-primera .back-primera {
        background: rgb(16, 139, 10);
        transform: perspective(500px) rotateY(180deg);
    }
    #card-primera:hover .front-primera {
        transform: perspective(500px) rotateY(180deg);
    }
    #card-primera:hover .back-primera {
        transform: perspective(500px) rotateY(360deg);
    }
    #card-primera div p {
        font-size:0.8rem;
        color: rgb(255, 254, 254);
        left:0px;
    }
    #subir-infantil {
        position:absolute;
        right:2vw;
        padding:5px 10px;
        width:auto;
        top:240vh;
        cursor:pointer;
        text-overflow:ellipsis;
        box-shadow:0 5px 20px 10px rgba(98, 255, 0, 0.2);
        border-radius:10px;
        background-color:#000000;
    }
    #subir-infantil a {
        text-decoration: none;
        color:white;
    }
}
