@media screen and (max-width:700px) {
    #principal-tenis-fixure{
        top:52%;
        left:60%;
        transform: translatex(-60%);
        width:450px;
        padding-top:20px;
        padding-bottom:20px;
        min-height:500px;
    }
    #principal-2-tenis-fixure{
        top:100%;
        left:60%;
        transform: translatex(-60%);
        width:450px;
        padding-top:20px;
        padding-bottom:20px;
        min-height:500px;
    }
    #principal-3-tenis-fixure{
        top:160%;
        left:60%;
        transform: translatex(-60%);
        width:450px;
        padding-top:20px;
        padding-bottom:20px;
        min-height:500px;
    }
    #fixture-table-tenis,#fixture-table-tenis-2,#fixture-table-tenis-3, #fixture-table-tenis td, #fixture-table-tenis-2 td,#fixture-table-tenis-3 td {
        border:2px solid black;
        padding:3px;
        font-size:0.7rem;
    }
}
@media screen and (max-width:580px) {
    .dropdown-propio {
        position: relative;
        float:right;
        margin-top:40px;
    }
    #principal-tenis-fixure{
        top:58%;
        left:70%;
        transform: translatex(-70%);
        width:300px;
        padding-top:10px;
        padding-bottom:10px;
        min-height:200px;
    }
    #principal-2-tenis-fixure{
        top:110%;
        left:70%;
        transform: translatex(-70%);
        width:300px;
        padding-top:10px;
        padding-bottom:10px;
        min-height:200px;
    }
    #principal-3-tenis-fixure{
        top:160%;
        left:70%;
        transform: translatex(-70%);
        width:300px;
        padding-top:10px;
        padding-bottom:10px;
        min-height:200px;
    }
}
@media screen and (max-width:450px) {
    #fixture-table-tenis,#fixture-table-tenis-2,#fixture-table-tenis-3, #fixture-table-tenis td, #fixture-table-tenis-2 td,#fixture-table-tenis-3 td {
        border:2px solid black;
        padding:3px;
        font-size:0.6rem;
    }
}
@media screen and (max-width:300px) {
    #principal-tenis-fixure{
        top:78%;
        left:33%;
        transform: translatex(-33%);
        width:100%;
        padding-top:0px;
        padding-bottom:0px;
        min-height:200px;
    }
    #principal-2-tenis-fixure{
        top:110%;
        left:33%;
        transform: translatex(-33%);
        width:100%;
        padding-top:0px;
        padding-bottom:0px;
        min-height:200px;
    }
    #principal-3-tenis-fixure{
        top:140%;
        left:33%;
        transform: translatex(-33%);
        width:100%;
        padding-top:0px;
        padding-bottom:0px;
        min-height:200px;
    }
    #fixture-table-tenis,#fixture-table-tenis-2,#fixture-table-tenis-3, #fixture-table-tenis td, #fixture-table-tenis-2 td,#fixture-table-tenis-3 td     {
        border:0px solid black;
        padding:0px;
        font-size:0.4rem;
    }
    .page-item:first-child .page-link {
        font-size:0.5rem;
    }
    .page-item:not(:first-child) .page-link {
        font-size:0.5rem;
    }
}