@media  screen and (max-width:800px) {
    .Container{
        max-width: 600px;
    }
    #principal-tenis-fixure{
        width:600px;
    }
    #principal-2-tenis-fixure{
        width:600px;
        top:110vh;
    }
    #principal-3-tenis-fixure{
        width:600px;
        top:180vh;
    }
    #seccion-1-tenis{
        height:235vh;
        background-color: #042500;
    }
    .publicidadClases{
        max-width:600px;
        top:230vh;
    }
    .publicidadClases h1,h2,h3{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:0.8rem;
        color: #ffff;
        margin:25px 25px 25px 25px;
    }
    .publicidadClases img{
        width:100px;
        height:100px;
        margin-left:200px;
    }
}
@media  screen and (max-width:600px) {
    .Container{
        max-width:400px;
    }
    #principal-tenis-fixure{
        width:400px;
    }
    #principal-2-tenis-fixure{
        width:400px;
        top:110vh;
    }
    #principal-3-tenis-fixure{
        width:400px;
        top:180vh;
    }
    #seccion-1-tenis{
        height:260vh;
    }
    .publicidadClases{
        max-width:400px;
        top:240vh;
    }
    .publicidadClases h1,h2,h3{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:0.7rem;
        color: #ffff;
        margin:15px 15px 25px 15px;
    }
    .publicidadClases img{
        width:100px;
        height:100px;
        margin-left:70px;
    }
}
@media screen and (min-width: 200px) and (max-width: 400px) {
    .Container {
        max-width: 200px;
    }
    #principal-tenis-fixure,
    #principal-2-tenis-fixure,
    #principal-3-tenis-fixure {
        width:200px;
        margin: 0 auto;
    }
    #fixture-table-tenis,
    #fixture-table-tenis-2,
    #fixture-table-tenis-3 {
        border: 1px solid black;
        padding: 2px;
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 0.5rem;
    }
    #fixture-table-tenis tr,
    #fixture-table-tenis-2 tr,
    #fixture-table-tenis-3 tr {
        border: 1px solid black;
        padding: 1px;
        text-align: center;
        color: rgb(255, 255, 255);
        font-size:0.5rem;
    }
    #fixture-table-tenis th:first-child,
    #fixture-table-tenis td:first-child,
    #fixture-table-tenis tr:first-child,
    #fixture-table-tenis-2 th:first-child,
    #fixture-table-tenis-2 td:first-child,
    #fixture-table-tenis-2 tr:first-child,
    #fixture-table-tenis-3 th:first-child,
    #fixture-table-tenis-3 td:first-child,
    #fixture-table-tenis-3 tr:first-child {
        display: none;
    }
    .page-link {
        position: relative;
        display: block;
        padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
        font-size: 0.5rem;
        color: var(--bs-pagination-color);
        text-decoration: none;
        background-color: var(--bs-pagination-bg);
        border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    #seccion-1-tenis{
        height:235vh;
    }
    .publicidadClases{
        max-width:200px;
        top:220vh;
    }
    .publicidadClases h1,h2,h3{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:0.7rem;
        color: #ffff;
        margin:10px 10px 10px 10px;
    }
    .publicidadClases img{
        display: none;
    }
}