@media screen and (max-width:800px) {
    #seccion-1-historia{
        height:320vh;
    }
    .historia{
        font-size:0.7rem;
    }
}
@media screen and (max-width:600px) {
    #seccion-1-historia{
        height:395vh;
    }
    .historia{
        font-size:0.6rem;
    }
}
@media screen  and (max-width:400px) {
    #seccion-1-historia{
        height:400vh;
    }
    .historia{
        font-size:0.5rem;
    }
}
@media screen and (min-width:200px)  and (max-width:400px) {
    #seccion-1-historia{
        height:650vh;
    }
    .historia{
        font-size:0.5rem;
    }
}