@media screen and (max-width:800px) {
    /*u23*/
    .Container{
        max-width:600px;
    }
    #principal-basquet-fixure {
        width:600px;
    }
    #playOff-basquet-fixture {
        width:600px;
    }
    #principal-basquet-posiciones{
        width:600px;
    }
    #playOff-basquet-posiciones{
        width:600px;
    }
    /*u19*/
    #principal-basquet-fixure-u19 {
        width:600px;
    }
    #principal-basquet-posiciones-u19{
        width:600px;
    }
    #conferencia1-basquet-fixture {
        width:600px;
    }
    #conferencia1-basquet-posiciones{
        width:600px;
        top:100vh;
    }
    /*U17*/
    #principal-basquet-fixure-u17{
        width:600px;
        padding-bottom:40px;
        height:auto;
    }
    #principal-basquet-posiciones-u17{
        width:600px;
    }
    #conferencia3-basquet-posiciones-u17{
        width:600px;
        top:100vh;
    }
    #conferencia3-basquet-fixture-u17{
        width:600px;
    }
    /*U15*/
    #seccion-1-basquet-u15{
        height:290vh;;
    }
    #principal-basquet-fixure-u15{
        width:600px;
    }
    #principal-basquet-posiciones-u15{
        width:600px;
    }
    #conferencia1-basquet-posiciones-u15{
        width:600px;
    }
    #conferencia1-basquet-fixture-u15{
        width:600px;
    }
    /*U13*/
    #principal-basquet-fixure-u13{
        width:600px;
    }
    #principal-basquet-posiciones-u13{
        width:600px;
    }
    #conferencia1-basquet-posiciones-u13{
        width:600px;
    }
    #conferencia1-basquet-fixture-u13{
        top:70vh;
        width:600px;
    }
    /*U12*/
    #principal-basquet-fixure-u12{
        width:600px;
    }
    #principal-basquet-posiciones-u12{
        width:600px;
    }
    #conferencia1-basquet-posiciones-u12{
        width:600px;
    }
    #conferencia1-basquet-fixture-u12{
        width:600px;
    }
    /*U+41*/
    #principal-basquet-fixure-u41{
        width:600px;
    }
    #principal-basquet-posiciones-u41{
        width:600px;
    }
    .publicidadClases-basquet{
        max-width:600px;
        top:260vh;
    }
    .publicidadClases-basquet h1,h2,h3{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:0.8rem;
        color: #ffff;
        margin:10px 10px 10px 10px;
    }
    .publicidadClases-basquet img{
        width:100px;
        height:100px;
        margin-left:100px;
    }
}
@media screen and (max-width:600px) {
    #seccion-1-basquet{
        height:305vh;;
    }
    #seccion-1-basquet-u17{
        height:310vh;;
    }
    #seccion-1-basquet-u15{
        height:290vh;;
    }
    #seccion-1-basquet-u13{
        height:290vh;;
    }
    #seccion-1-basquet-u41{
        height:235vh;;
    }
    /*U23*/
    .Container{
        max-width:400px;
    }
    #pagination-basquet{
        margin: 0 auto;
        position: absolute;
        top:49vh;
        width:400px;
    }
    #principal-basquet-fixure {
        width:400px;
        margin: 0 auto;
        top:200vh;
    }
    #playOff-basquet-fixture {
        width:400px;
        margin: 0 auto;
    }
    #principal-basquet-posiciones{
        width:400px;
        margin: 0 auto;
        top:260vh;
    }
    #playOff-basquet-posiciones{
        width:400px;
        margin: 0 auto;
        top:130vh;
    }
    /*U19*/
    #principal-basquet-fixure-u19 {
        width:400px;
        top:200vh;
    }
    #principal-basquet-posiciones-u19{
        width:400px;
        top:260vh;
    }
    #conferencia1-basquet-fixture {
        width:400px;
    }
    #conferencia1-basquet-posiciones{
        width:400px;
        top:130vh;
    }
    /*U17*/
    #principal-basquet-fixure-u17{
        width:400px;
        top:190vh;
    }
    #principal-basquet-posiciones-u17{
        width:400px;
        top:260vh;
    }
    #conferencia3-basquet-posiciones-u17{
        width:400px;
        top:130vh;
    }
    #conferencia3-basquet-fixture-u17{
        width:400px;
    }
    /*U15*/
    #principal-basquet-fixure-u15{
        width:400px;
    }
    #principal-basquet-posiciones-u15{
        width:400px;
    }
    #conferencia1-basquet-posiciones-u15{
        width:400px;
    }
    #conferencia1-basquet-fixture-u15{
        width:400px;
        top:65vh;
    }
    /*U13*/
    #principal-basquet-fixure-u13{
        width:400px;
    }
    #principal-basquet-posiciones-u13{
        width:400px;
    }
    #conferencia1-basquet-posiciones-u13{
        width:400px;
        top:120vh;
    }
    #conferencia1-basquet-fixture-u13{
        top:70vh;
        width:400px;
    }
    /*U12*/
    #principal-basquet-fixure-u12{
        width:400px;
    }
    #principal-basquet-posiciones-u12{
        width:400px;
    }
    #conferencia1-basquet-posiciones-u12{
        width:400px;
        top: 115vh;
    }
    #conferencia1-basquet-fixture-u12{
        width:400px;
    }
    /*u+41*/
    #principal-basquet-fixure-u41{
        width:400px;
    }
    #principal-basquet-posiciones-u41{
        width:400px;
        TOP: 160VH;
    }
    .publicidadClases-basquet{
        max-width:400px;
        top:295vh;
    }
    .publicidadClases-basquet-u19{
        max-width:400px;
        top:295vh;
    }
    .publicidadClases-basquet-u17{
        max-width:400px;
        top:295vh;
    }
    .publicidadClases-basquet-u15{
        max-width:400px;
        top:270vh;
    }
    .publicidadClases-basquet-u13{
        max-width:400px;
        top:270vh;
    }
    .publicidadClases-basquet-u12{
        max-width:400px;
        top:270vh;
    }
    .publicidadClases-basquet-u41{
        max-width:400px;
        top:220vh;
    }
    .publicidadClases-basquet h1,h2,h3{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:0.6rem;
        color: #ffff;
        margin:5px 5px 5px 5px;
    }
    .publicidadClases-basquet-u19 h1,h2,h3{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:0.6rem;
        color: #ffff;
        margin:5px 5px 5px 5px;
    }
    .publicidadClases-basquet-u17 h1,h2,h3{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:0.6rem;
        color: #ffff;
        margin:5px 5px 5px 5px;
    }
    .publicidadClases-basquet-u15 h1,h2,h3{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:0.6rem;
        color: #ffff;
        margin:5px 5px 5px 5px;
    }
    .publicidadClases-basquet-u13 h1,h2,h3{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:0.6rem;
        color: #ffff;
        margin:5px 5px 5px 5px;
    }
    .publicidadClases-basquet-u12 h1,h2,h3{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:0.6rem;
        color: #ffff;
        margin:5px 5px 5px 5px;
    }
    .publicidadClases-basquet-u41 h1,h2,h3{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:0.6rem;
        color: #ffff;
        margin:5px 5px 5px 5px;
    }
    .publicidadClases-basquet img{
        width:100px;
        height:100px;
        margin-left:2px;
    }
    .publicidadClases-basquet-u19 img{
        width:100px;
        height:100px;
        margin-left:2px;
    }
    .publicidadClases-basquet-u17 img{
        width:100px;
        height:100px;
        margin-left:2px;
    }
    .publicidadClases-basquet-u15 img{
        width:100px;
        height:100px;
        margin-left:2px;
    }
    .publicidadClases-basquet-u13 img{
        width:100px;
        height:100px;
        margin-left:2px;
    }
    .publicidadClases-basquet-u12 img{
        width:100px;
        height:100px;
        margin-left:2px;
    }
    .publicidadClases-basquet-u41 img{
        width:100px;
        height:100px;
        margin-left:2px;
    }
}
@media screen and (min-width:200px)  and (max-width:400px) {
    .Container{
        max-width:200px;
    }
    #seccion-1-basquet{
        height:305vh;;
    }
    #seccion-1-basquet-u17{
        height:270vh;;
    }
    #seccion-1-basquet-u15{
        height:215vh;;
    }
    #seccion-1-basquet-u13{
        height:215vh;;
    }
    #seccion-1-basquet-u12{
        height:220vh;;
    }
    #seccion-1-basquet-u41{
        height:150vh;;
    }
    /* u23*/
    #pagination-basquet {
        margin: 0 auto;
        top:54vh;
        width:200px;
    }
    #pagination-basquet ul li a{
        font-size:.4rem;
    }
    #principal-basquet-fixure {
        width:200px;
        margin: 0 auto;
        top:230vh;
    }
    #playOff-basquet-fixture {
        width:200px;
        margin: 0 auto;
    }
    #principal-basquet-posiciones{
        width:200px;
        margin: 0 auto;
        top:280vh;
    }
    #principal-basquet-posiciones img,#playOff-basquet-posiciones img{
        display: none;
    }
    #playOff-basquet-posiciones{
        width:200px;
        margin: 0 auto;
        top:130vh;
    }
    #principal-basquet-posiciones td,#principal-basquet-posiciones tr {
        padding:1px;
        font-size:0.5rem;
    }
    #playOff-basquet-posiciones td,#playOff-basquet-posiciones tr {
        padding:1px;
        font-size:0.5rem;
    }
    #fixture-table-basquet,
    #fixture-table-basquet td,#playOff-basquet-fixture td {
        padding:3px;
        font-size:0.6rem;
    }
    #fixture-table-basquet tr,#playOff-basquet-fixture tr {
        padding:0px;
        font-size:0.5rem;
    }
    /*U19*/
    #principal-basquet-fixure-u19 {
        width:200px;
        top:130vh;
    }
    #principal-basquet-posiciones-u19{
        width:200px;
        top:170vh;
    }
    #conferencia1-basquet-fixture {
        width:200px;
    }
    #conferencia1-basquet-posiciones{
        width:200px;
        top:100vh;
    }
    #principal-basquet-posiciones-u19 img,#conferencia1-basquet-posiciones img{
        display: none;
    }
    #principal-basquet-posiciones-u19 td,#principal-basquet-posiciones-u19 tr {
        padding:1px;
        font-size:0.5rem;
    }
    #conferencia1-basquet-posiciones td,#conferencia1-basquet-posiciones tr {
        padding:1px;
        font-size:0.5rem;
    }
    #fixture-table-basquet,
    #fixture-table-basquet td,#fixture-table-basquet-conferencia1 td {
            padding:3px;
            font-size:0.6rem;
    }
    #principal-basquet-fixure-u19 tr,#conferencia1-basquet-fixture tr {
            padding:0px;
            font-size:0.5rem;
    }
    /*U17*/
    #principal-basquet-fixure-u17{
        width:200px;
        top:160vh;
    }
    #principal-basquet-posiciones-u17{
        width:200px;
        top:230vh;
    }
    #conferencia3-basquet-posiciones-u17{
        width:200px;
        top:120vh;
    }
    #conferencia3-basquet-fixture-u17{
        width:200px;
    }
    #conferencia3-basquet-posiciones-u17 img,#conferencia3-basquet-posiciones-u17 img{
        display: none;
    }
    #principal-basquet-posiciones-u17 td,#principal-basquet-posiciones-u17 tr {
        padding:1px;
        font-size:0.5rem;
    }
    #conferencia3-basquet-posiciones-u17 td,#conferencia3-basquet-posiciones-u17 tr {
        padding:1px;
        font-size:0.5rem;
    }
    #fixture-table-basquet-u17,
    #fixture-table-basquet-u17 td,#conferencia3-fixture-table-basquet-u17 td {
            padding:3px;
            font-size:0.6rem;
    }
    #principal-basquet-fixure-u17 tr,#conferencia3-fixture-table-basquet-u17 tr {
            padding:0px;
            font-size:0.5rem;
    }
    /*U15*/
    #principal-basquet-fixure-u15{
        width:200px;
        top:140vh;
    }
    #principal-basquet-posiciones-u15{
        width:200px;
        top:190vh;
    }
    #conferencia1-basquet-posiciones-u15{
        width:200px;
    }
    #conferencia1-basquet-fixture-u15{
        width:200px;
        top:65vh;
    }
    #principal-basquet-posiciones-u15 img,#conferencia1-basquet-posiciones-u15 img{
        display: none;
    }
    #principal-basquet-posiciones-u15 td,#principal-basquet-posiciones-u15 tr {
        padding:1px;
        font-size:0.5rem;
    }
    #conferencia1-basquet-posiciones-u15 td,#conferencia1-basquet-posiciones-u15 tr {
        padding:1px;
        font-size:0.5rem;
    }
    #principal-basquet-fixure-u15 tr,#conferencia1-fixture-table-basquet-u15 tr {
        padding:0px;
        font-size:0.5rem;
    }
    #fixture-table-basquet,
    #fixture-table-basquet td,#conferencia3-fixture-table-basquet-u17 td {
            padding:3px;
            font-size:0.6rem;
    }
    /*U13*/
    #principal-basquet-fixure-u13{
        width:200px;
        top:140vh;
    }
    #principal-basquet-posiciones-u13{
        width:200px;
        top:190vh;
    }
    #conferencia1-basquet-posiciones-u13{
        width:200px;
        top:120vh;
    }
    #conferencia1-basquet-fixture-u13{
        top:65vh;
        width:200px;
    }
    #principal-basquet-posiciones-u13 img,#conferencia1-basquet-posiciones-u13 img{
            display: none;
    }
    #principal-basquet-posiciones-u13 td,#principal-basquet-posiciones-u13 tr {
            padding:1px;
            font-size:0.5rem;
    }
    #conferencia1-basquet-posiciones-u13 td,#conferencia1-basquet-posiciones-u13 tr {
            padding:1px;
            font-size:0.5rem;
    }
    #principal-basquet-fixure-u13 tr,#conferencia1-fixture-table-basquet-u13 tr {
            padding:0px;
            font-size:0.5rem;
    }
    #fixture-table-basquet,
    #fixture-table-basquet td,#conferencia3-fixture-table-basquet-u17 td {
                padding:3px;
                font-size:0.6rem;
    }
    /*U12*/
    #principal-basquet-fixure-u12{
        width:200px;
        top:180vh;
    }
    #principal-basquet-posiciones-u12{
        width:200px;
        top:150vh;
    }
    #conferencia1-basquet-posiciones-u12{
        width:200px;
    }
    #conferencia1-basquet-fixture-u12{
        width:200px;
    }
    #principal-basquet-posiciones-u12 img,#conferencia1-basquet-posiciones-u12 img{
        display: none;
    }
    #principal-basquet-posiciones-u12 td,#principal-basquet-posiciones-u12 tr {
        padding:1px;
        font-size:0.5rem;
    }
    #conferencia1-basquet-posiciones-u12 td,#conferencia1-basquet-posiciones-u12 tr {
        padding:1px;
        font-size:0.5rem;
    }
    #principal-basquet-fixure-u12 tr,#conferencia1-fixture-table-basquet-u12 tr {
        padding:0px;
        font-size:0.5rem;
    }
    #fixture-table-basquet,
    #fixture-table-basquet td,#conferencia3-fixture-table-basquet-u12 td {
        padding:3px;
        font-size:0.6rem;
    }
    /*u+41*/
    #principal-basquet-fixure-u41{
        width:200px;
    }
    #principal-basquet-posiciones-u41{
        width:200px;
        top: 120vh;
    }
    #principal-basquet-posiciones-u41 imG{
        display: none;
    }
    #principal-basquet-posiciones-u41 td,#principal-basquet-posiciones-u41 tr {
        padding:1px;
        font-size:0.5rem;
    }
    #principal-basquet-fixure-u41 tr{
        padding:0px;
        font-size:0.5rem;
    }
    #fixture-table-basquet-u41,
    #fixture-table-basquet-u41 td{
        padding:3px;
        font-size:0.4rem;
    }
    .publicidadClases-basquet{
        max-width:200px;
        top:290vh;
    }
    .publicidadClases-basquet h1,h2,h3,span{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:0.5rem;
        color: #ffff;
        margin:1px 1px 1px 1px;
    }
    .publicidadClases-basquet img{
        display: none;
    }
    #seccion-1-basquet-u19{
        height:190vh;;
    }
    .publicidadClases-basquet-u19{
        max-width:200px;
        top:180vh;
    }
    .publicidadClases-basquet-u19 h1,h2,h3,span{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:0.5rem;
        color: #ffff;
        margin:1px 1px 1px 1px;
    }
    .publicidadClases-basquet-u19 img{
        display: none;
    }
    .publicidadClases-basquet-u17{
        max-width:200px;
        top:260vh;
    }
    .publicidadClases-basquet-u17 h1,h2,h3,span{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:0.5rem;
        color: #ffff;
        margin:1px 1px 1px 1px;
    }
    .publicidadClases-basquet-u17 img{
        display: none;
    }
    .publicidadClases-basquet-u15{
        max-width:200px;
        top:200vh;
    }
    .publicidadClases-basquet-u15 h1,h2,h3,span{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:0.5rem;
        color: #ffff;
        margin:1px 1px 1px 1px;
    }
    .publicidadClases-basquet-u15 img{
        display: none;
    }
    .publicidadClases-basquet-u13{
        max-width:200px;
        top:200vh;
    }
    .publicidadClases-basquet-u13 h1,h2,h3,span{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:0.5rem;
        color: #ffff;
        margin:1px 1px 1px 1px;
    }
    .publicidadClases-basquet-u13 img{
        display: none;
    }
    .publicidadClases-basquet-u12{
        max-width:200px;
        top:210vh;
    }
    .publicidadClases-basquet-u12 h1,h2,h3,span{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:0.5rem;
        color: #ffff;
        margin:1px 1px 1px 1px;
    }
    .publicidadClases-basquet-u12 img{
        display: none;
    }
    .publicidadClases-basquet-u41{
        max-width:200px;
        top:140vh;
    }
    .publicidadClases-basquet-u41 h1,h2,h3,span{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:0.5rem;
        color: #ffff;
        margin:1px 1px 1px 1px;
    }
    .publicidadClases-basquet-u41 img{
        display: none;
    }
}