@media screen and (max-width:1140px) {
    .texto-logros{
        font-size:0.8rem;
    }
}
@media screen and (max-width:910px) {
    #seccion-1-logros{
        height:410vh;
    }
}
@media screen and (max-width:700px) {
    #seccion-1-logros{
        height:505vh;
    }
    .texto-logros{
        font-size:0.7rem;
    }
}
@media screen and (max-width:500px) {
    #seccion-1-logros{
        height:720vh;
        background-color: black;
        background-image:none;
    }
    .logros{
        top:5vh;
        line-height:40px;
        background-color: black;
    }
}
