@media screen and (max-width:1140px) {
    .texto-logros{
        font-size:0.8rem;
    }
}
@media screen and (max-width:910px) {
    #seccion-1-logros{
        height:auto;
        background-color: black;
        background-image:url(../img/img-2.jpg);
        overflow:auto;
    }
    .logros{
        height:max-content;
        top:38vh;
        line-height:40px;
        background-color: black;
    }
}
@media screen and (max-width:700px) {
    #seccion-1-logros{
        height:auto;
        background-color: black;
        background-image:url(../img/img-2.jpg);
        overflow:auto;
    }
    .logros{
        height:max-content;
        top:38vh;
        line-height:40px;
        background-color: black;
    }
    .texto-logros{
        font-size:0.7rem;
    }
}
@media screen and (max-width:500px) {
    #seccion-1-logros{
        height:auto;
        background-color: black;
        background-image:none;
        overflow:auto;
    }
    .logros{
        height:max-content;
        top:35vh;
        line-height:40px;
        background-color: black;
    }
    .index-historia {
        display: none;
    }
    .index-historia a {
        text-decoration: none;
    }
}
