@media screen and (max-width:370px) {
    .container-tenis-2, .container-tenis{
        width:100%;
        height:30%;
        left:1vw;
        top:54vh;
    }
    #fixture-tableSuperA th, #fixture-tableCATEGORIAA1 th {
        font-size:0.8rem;
    }
    #fixture-tableSuperA , #fixture-tableCATEGORIAA1, #fixture-tableSuperA td,#fixture-tableCATEGORIAA1 td {
        padding:4px;
        font-size:0.7rem;
    }
}