.Container{
    display: flex;
    flex-direction:row;
    max-width:800px;
    height:auto;
    margin: 0 auto;
}
#seccion-1-tenis{
    height:200vh;
    background-color: #042500;
}
.title-cat-tenis{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.title-cat-tenis h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
#principal-tenis-fixure{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:50vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#principal-2-tenis-fixure{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:100vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#principal-3-tenis-fixure{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position:absolute;
    top:140vh;
    width:800px;
    padding-top:40px;
    padding-bottom:40px;
    height:auto;
}
#fixture-table-tenis, #fixture-table-tenis-2,#fixture-table-tenis-3, #fixture-table-tenis td, #fixture-table-tenis-2 td,#fixture-table-tenis-3 td  {
    border:3px solid black;
    padding:6px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size:0.9rem;
}
.publicidadClases{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    max-width: 800px;
    position: relative;
    top:180vh;
    background-color: rgb(2, 48, 32);
}
.publicidadClases:hover{
    background: linear-gradient(to top, #042500 , rgb(37, 77, 64) 100%);
}
.publicidadClases h1,h2,h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:0.9rem;
    color: #ffff;
    margin:25px 25px 25px 25px;
}
.publicidadClases img{
    width:100px;
    height:100px;
    margin-left:200px;
}